anyio==3.6.1 ; python_version >= "3.9" and python_version < "4.0" \
    --hash=sha256:413adf95f93886e442aea925f3ee43baa5a765a64a0f52c6081894f9992fdd0b \
    --hash=sha256:cb29b9c70620506a9a8f87a309591713446953302d7d995344d0d7c6c0c9a7be
beautifulsoup4==4.11.1 ; python_version >= "3.9" and python_version < "4.0" \
    --hash=sha256:58d5c3d29f5a36ffeb94f02f0d786cd53014cf9b3b3951d42e0080d8a9498d30 \
    --hash=sha256:ad9aa55b65ef2808eb405f46cf74df7fcb7044d5cbc26487f96eb2ef2e436693
certifi==2022.6.15 ; python_version >= "3.9" and python_version < "4"
charset-normalizer==2.1.1 ; python_version >= "3.9" and python_version < "4"
click==8.1.3 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.5 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
cssselect==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
fastapi==0.81.0 ; python_version >= "3.9" and python_version < "4.0"
feedfinder2==0.0.4 ; python_version >= "3.9" and python_version < "4.0"
feedparser==6.0.10 ; python_version >= "3.9" and python_version < "4.0"
filelock==3.8.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.3 ; python_version >= "3.9" and python_version < "4" \
    --hash=sha256:84d9dd047ffa80596e0f246e2eab0b391788b0503584e8945f2368256d2735ff \
    --hash=sha256:9d643ff0a55b762d5cdb124b8eaa99c66322e2157b69160bc32796e824360e6d
jieba3k==0.35.1 ; python_version >= "3.9" and python_version < "4.0"
joblib==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
lxml==4.9.1 ; python_version >= "3.9" and python_version < "4.0"
newspaper3k==0.2.8 ; python_version >= "3.9" and python_version < "4.0"
nltk==3.7 ; python_version >= "3.9" and python_version < "4.0"
pillow==9.2.0 ; python_version >= "3.9" and python_version < "4.0"
pydantic==1.10.1 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==3.11 ; python_version >= "3.9" and python_version < "4.0"
regex==2022.8.17 ; python_version >= "3.9" and python_version < "4.0"
requests-file==1.5.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.9" and python_version < "4"
sgmllib3k==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
six==1.7.3 ; python_version >= "3.9" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
soupsieve==2.3.2.post1 ; python_version >= "3.9" and python_version < "4.0" \
    --hash=sha256:3b2503d3c7084a42b1ebd08116e5f81aadfaea95863628c80a3b774a11b7c759 \
    --hash=sha256:fc53893b3da2c33de295667a0e19f078c14bf86544af307354de5fcf12a3f30d
starlette==0.19.1 ; python_version >= "3.9" and python_version < "4.0" \
    --hash=sha256:5a60c5c2d051f3a8eb546136aa0c9399773a689595e099e0877704d5888279bf \
    --hash=sha256:c6d21096774ecb9639acad41b86b7706e52ba3bf1dc13ea4ed9ad593d47e24c7
tinysegmenter==0.3 ; python_version >= "3.9" and python_version < "4.0"
tldextract==3.3.1 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.64.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.3.0 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.12 ; python_version >= "3.9" and python_version < "4"
